*
!Dockerfile
!source/
!source/**
!extensions/
!extensions/**
!patches/
!patches/**
!licenses/
!licenses/**
!scripts/
!scripts/smoke-image.py
!scripts/check-routing.py
!scripts/check-training-policy.py
